@media screen and (max-width:750px){
    .wrap{
        width: 400px;
        top:0px;
        bottom:0px;
        margin-left:-200px;
    }
    .header{
        width: 100%;
    }
    .footer img:first-child{
        margin-left: 27px;
    }
}